<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="icon-container">
      <img src="/assets/img/ico/slack.png" alt="">
      <p>Slack Clone</p>      
    </div>
    <ul>
      <li routerLink="dashboard"><mat-icon>web</mat-icon>Channels</li>
      <li routerLink="user"><mat-icon>person</mat-icon>Direct messages</li>
    </ul>
  </mat-drawer>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle()">menu</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>