mat-form-field {
    width: calc(100% - 0.5rem);

    textarea {
        resize: none;
        min-height: 80px;
    }
}

.send-button {
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;

    &:hover {
        cursor: pointer;
    }
}