<mat-accordion>
    <mat-expansion-panel hideToggle (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
               <img src="../assets/img/{{panelOpenState ? 'downArrow.ico' : 'rightArrow.ico'}}" alt=""> Channels
            </mat-panel-title>

        </mat-expansion-panel-header>
        <ul>
            <li (click)="openChannel(channel.channelId)"  *ngFor="let channel of channelsOverview"><div>#</div> {{ channel.channelName }}</li>
            <li (click)="openDialog()" class="createChannel"><img src="../assets/img/plusIcon.svg" class="plusIcon"> Create channel</li>
        </ul>
        
    </mat-expansion-panel>
</mat-accordion>