<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="icon-container">
      <img src="/assets/img/ico/slack.png" alt="">
      <p>Slack Clone</p>
    </div>
    <app-channels></app-channels>
    <app-direct-messages></app-direct-messages>
  </mat-drawer>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle()">menu</mat-icon>
        <div class="user">{{(this.authService.userData.displayName) ? this.authService.userData.displayName : 'User'}}
          <img
            src="{{(this.authService.userData.photoURL) ? this.authService.userData.photoURL : '/assets/dummy-user.png'}}"
            alt="">
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container">

      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #thread_sidenav [opened]="this.threadservice.open" class="example-sidenav" position="end"
          mode="side">

          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <app-thread></app-thread>
        </mat-drawer>

        <div class="example-sidenav-content">
          <div class="channel-name">
            <h1>channelName</h1>
          </div>
          <div class="chat-container">
            <app-message-box></app-message-box>
          </div>
          <app-message-input></app-message-input>
        </div>

      </mat-drawer-container>


    </div>
  </div>
</mat-drawer-container>