<div *ngFor="let thread of this.threadservice.message, let i = index ">
    <mat-card>
        <div class="card-header">
            <img src="{{ this.threadservice.userPhoto[i] }}" alt="">
            <span>{{ this.threadservice.userName[i] }}</span>
        </div>
        <mat-card-content>{{ this.threadservice.message[i] }}</mat-card-content>
    </mat-card>
</div>


<mat-form-field appearance="outline">
    <textarea [(ngModel)]="message" matInput placeholder="Insert text here ..."></textarea>
</mat-form-field>
<button mat-raised-button (click)="sendAnswer()">Post</button>