<!-- <mat-card>
    <div class="card-header">
        <img src="{{ channels.userPhoto[0] }}" alt="">
        <span>{{ channels.userName[0] }}</span>
    </div>
    <mat-card-content>{{ channels.message[0] }}</mat-card-content>
</mat-card>
<div class="message-box" *ngFor="let thread of channels.thread; let i = index">

    <mat-card>
        <div class="card-header">
            <img src="{{ channels.userPhoto[i] }}" alt="">
            <span>{{ channels.userName[i] }}</span>
        </div>
        <mat-card-content>{{ channels.thread[i] }}</mat-card-content>
    </mat-card>
</div> -->

<mat-form-field appearance="outline">
    <textarea  [(ngModel)]="message" matInput placeholder="Insert text here ..."></textarea>
</mat-form-field>
<button mat-raised-button (click)="sendAnswer()">Post</button>
