<div *ngFor="let thread of this.threadservice.message, let i = index ">
    <mat-card>
        <div class="card-header">
            <img src="{{ this.threadservice.userPhoto[i] ? this.threadservice.userPhoto[i]: '/assets/img/user.png' }}" alt="">
            <span>{{ this.threadservice.userName[i] ? this.threadservice.userName[i]: this.threadservice.userEmail[i] }}</span>
        </div>
        <mat-card-content>{{ this.threadservice.message[i] }}</mat-card-content>
    </mat-card>
</div>


<mat-form-field appearance="outline">
    <textarea resize:none (keyup.enter)="sendAnswer()" [(ngModel)]="message" matInput placeholder="Insert text here ..."></textarea>
    <img class="send-button" src="../../assets/img/send.png" (click)="sendAnswer()">
</mat-form-field>